body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5px;
  }
  
  @media (min-width: 992px) {
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    form label {
      width: 150px;
    }
  }
  